{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/bootstrap.min.css' %}">


<!--import for modal -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
crossorigin="anonymous"></script>
<!--end importtant libraries for the modal  -->

{% block style %}
{% endblock %}

<title>{% block title %} {% endblock %}</title>
    </head>
<body>
    {% include 'Dashboard/Shaafi_top_navbar.html' %}

      {% include 'Dashboard/Shaafi_side_navbar.html' %}
      {% block main %}
      {% endblock %}
<!--Topside-->
<div class="container">
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                {% block info %}
                {% endblock %}
            </div>
            
              {% block leftsection %}
              {% endblock %}
            
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                
                {% block header %}
                {% endblock %}
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>




     