<style>
    
   

    .topnav {
      overflow: hidden;
      background-color: #17a2b8;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: block;}
      .topnav a.icon {
        float: right;
        display: block;
       
       
       
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        
      }
      .topnav.responsive a {
        float: left;
        display: block;
        text-align: left;
        
      }
    }
    </style>

<!--start of the top navbar-->
<div class="topnav" id="myTopnav">
    <a href="{% url 'website:website' %}" class="active">Website</a>
    <a href="{% url 'shaafiapp:main-Allifmaal-dashboard' %}" >Dashboard</a>
    
    <a href="{% url 'shaafiapp:doctors'%}">Doctors</a>
    <a href="{% url 'logistics:AlwenAssets'%}">Assets</a>
    <a href="{% url 'logistics:add_show_drivers'%}">Drivers</a>
    <a href="">Analytics</a>
    

    
  

{% if user.is_authenticated %}
        
<a href="{% url 'login:logout' %}" style="float: right;">Hi {{user}} | Logout</a>
         

        {% else %}
       
        <a href="{% url 'login:loginpage' %}" style="float: right;">Login</a>
   
    {% endif %}


   
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
 
  
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  <!--end of the top navbar-->
